* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}


h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 800;
    font-size: 3.5rem;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    color: black;
}

h3 {
    font-family: "Poppins", sans-serif;
    color: rgb(75, 75, 75);
}

p {
    color: rgb(75, 75, 75);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}


/* NAVBAR */


.nav-item {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    cursor: default;

}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.8rem;

}

/* TITLE */

#title {
    background-color: #FE4C69;
    position: relative;
}

.title-navbar-container {
    padding: 4rem 12%;

}

.title-row {
    margin-top: 2.5rem;
}

.title-h1 {
    padding: 2rem 30% 0 0;
}

.btn-dark {
    margin: 3rem 1.7rem 3rem 0;
    background-color: #343A40;
}

.btn {
    margin: 3rem 1.7rem 3rem 0;

}

.tin-dog {
    transform: rotate(20deg);
    max-width: 100%;
    position: absolute;
}

/* FEATURES */


#features {
    display: flex;
    justify-content: center;
    padding: 15rem 10rem 10rem;
    background-color: blanchedalmond;
    position: relative;
}

.features-info {
    text-align: center;
}

.features-heading {

    font-family: "Poppins", sans-serif;
    color: black;
}

.features-p {
    font-family: "Montserrat thin", sans-serif;
    color: #474747;
    padding: 0 3rem;
}

.fab-icons {
    color: #EF8172;
    margin-bottom: 1rem;
}

.fab-icons:hover {
    color: #FE4C69;
}

/* Testimonials */

#testimonials {
    background-color: #EF8172;
    height: 750px;
}

.testimonial-content {
    text-align: center;

}

.img-testimonial {
    border-radius: 100%;
    max-width: 100%;
    width: 10%;

}

.tes-text {
    margin-left: 25px;
    font-size: 1.2rem;
    color: rgb(41, 41, 41);
    font-weight: 400;
}

.testimonial-carouselw {
    background-color: sandybrown;
}


.testimonial-heading {
    font-family: "Poppins", sans-serif;
    padding: 8% 25% 1.5%;
    font-size: 3.5rem;
    color: white;
}

/* PRESS */
#press {
    background-color: #EF8172;
}

.imgs-press-div {
    text-align: center;
}

.press-img {
    padding: 0 3rem 5rem;
}

/* PRICING */

#pricing {
    padding: 3% 12%;
}

.pricing-column {
    padding: 2rem;

}

.heading-pricing {
    text-align: center;
}

.pricing-para {
    color: #908080;
}

.card-header {
    display: flex;
    justify-content: center;
    background-color: #ffebcd;
    border: #363636 solid 1px;


}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffebcd;
    border: #363636 solid 1px;

}

.pricing-heading-2 {
    font-size: 3.3rem;
}

.pricing-btn {
    margin: 2rem;

}


/* CTA */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding-top: 10rem;
}

.cta-h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.7rem;
    line-height: 5rem;

}

.cta-btn {
    margin-bottom: 10rem;
}


/* FOOTER */
#footer {
    padding: 5rem 25rem 7rem;
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.social {
    display: flex;
    justify-content: space-around;
}

.footer-icons {
    padding: 0 1rem 2rem;
    color: #212529ca;
}

.footer-icons:hover {
    color: rgb(39, 39, 39);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-text {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
}


/* RESPONSIVNESS */

@media (max-width: 1000px) and (min-width:992px) {
    .title-h1 {
        display: block;
    }

    .tin-dog {
        position: static;
        transform: rotate(0);
    }

}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }

    .title-h1 {
        padding: 0 1.5vh;
    }

    .tin-dog {
        position: static;
        transform: rotate(0);
    }
}

@media (max-width: 1024px) {
    .testimonial-heading {
    padding: 8% 9% 1.5%;   
    }
}
