h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: bolder;
    color: white;
    margin: 0 10px 0 0;
    width: 550px;
    line-height: 1.5;
}

#title {
    background-color: #FE4D68;
}

.btn {
    margin: 5% 3% 5% 0;
}

/* Navbar */
.navbarp {
    font-family: "Ubuntu", sans-serif;
    margin-bottom:50px;

}

.container-fluid {
    padding: 4% 12%;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
    
}

.nav-item {
    display: inline-block;
    margin: 0 18px;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
}
