* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title {
    background-color: #FE4C69;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 800;
    font-size: 3.5rem;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    color: black;
}

h3 {
    font-family: "Poppins", sans-serif;
}



/* NAVBAR */


.nav-item {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;

}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.8rem;

}

/* TITLE */

.title-navbar-container {
    padding: 4rem 12%;

}

.title-row {
    margin-top: 2.5rem;
}

.btn-dark {
    margin: 3rem 1.7rem 3rem 0;
    background-color: #343A40;
}

.btn {
    margin: 3rem 1.7rem 3rem 0;

}

.tin-dog {
    transform: rotate(20deg);
    width: 60%;
}

/* FEATURES */


#features {
    display: flex;
    justify-content: center;
    padding: 15rem 10rem 10rem;
}

.features-info {
    text-align: center;
}

.features-p {
    font-family: "Montserrat thin", sans-serif;
    color: #808080;
    padding: 0 3rem;
}

.fab-icons {
    color: #EF8172;
    margin-bottom: 1rem;
}

.fab-icons:hover {
    color: #FE4C69;
}

/* Testimonials */

#testimonials {
    background-color: #EF8172;
    height: 750px;
}

.testimonial-content {
    text-align: center;
    
}

.img-testimonial {
    border-radius: 100%;
    width: 10%;
}

.tes-text {
    margin-left: 25px;
    font-size: 1.2rem;
    color: rgb(41, 41, 41);
    font-weight: 400;
}

.testimonial-carouselw {
    background-color: sandybrown;
}


.testimonial-heading {
    font-family: "Poppins", sans-serif;
    padding: 8% 25% 1.5%;
    font-size: 3.5rem;
    color: white;
}
/* PRESS */
#press {
    background-color: #EF8172;
}

.imgs-press-div {
    text-align: center;
}

.press-img {
    padding: 0 3rem 5rem;
}

/* PRICING */
.pricing-row {
    margin: 0;
}

#pricing {
    padding: 150px;
}

.pricing-column {
    margin: 3% 2%;
}
